<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RKiss.Tools.AzureIoTHubTester.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>

  <appSettings>
    <add key="rangeOfPorts" value="10100, 10101, 10102, 10103, 10104, 10105, 10106, 10107, 10108, 10109"/>
    <add key="timeToLiveInHrs" value="24"/>
  </appSettings>
  <userSettings>
    <RKiss.Tools.AzureIoTHubTester.Properties.Settings>
      <setting name="MRU" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
        </value>
      </setting>
    </RKiss.Tools.AzureIoTHubTester.Properties.Settings>
  </userSettings>
</configuration>
